<div class="container-fluid footer">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <div class="d-flex bd-highlight menu">
                <div class="p-2 flex-fill bd-highlight">
                    <div class="d-flex align-items-start flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <b>NAVEGAÇÃO</b>
                        </div>
                        <div class="p-2 bd-highlight">- Home</div>
                        <div class="p-2 bd-highlight">- Serviços</div>
                        <div class="p-2 bd-highlight">- Quem somos</div>
                    </div>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <div class="d-flex align-items-start flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <b>FALE CONOSCO</b>
                        </div>
                        <div class="p-2 bd-highlight">- FAQ</div>
                        <div class="p-2 bd-highlight">- Lei de Estágio</div>
                        <div class="p-2 bd-highlight">- Termos de uso</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="">
                </div>
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="message">Mensagem</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>
            </form>
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm">ENVIAR</button>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>