<div class="container-fluid login">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-4 login-box">
      <div class="row input-form">
        <div class="col-sm">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Usuário" aria-label="Login" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row input-form">
        <div class="col-sm">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">**</span>
            </div>
            <input type="text" class="form-control" placeholder="Senha" aria-label="Password" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="d-flex justify-content-between">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
              <label class="custom-control-label" for="customCheck1">
                Lembrar login
              </label>
            </div>
            <div>
              <a href="#" data-toggle="tooltip" title="Esqueceu a senha?">Esqueceu a senha?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="d-flex justify-content-center">
            <button class="btn">LOGIN</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
